body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #3e3a79;
}


.student-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #791e79; /* table background */
  margin-top: 20px;
}

.student-table th,
.student-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.student-table th {
  background-color: #4CAF50; /* header background */
  color: white;
}

.student-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.student-table tr:hover {
  background-color: #ddd;
}

.active {
  color: green;
  font-weight: bold;
}

.inactive {
  color: red;
  font-weight: bold;
}

button {
  padding: 6px 12px;
  background-color: #f44336;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #d32f2f;
}
