body {
  display: block;
  background-color: #5163a8; /* choose any color */
  min-height: 100vh; /* full height */
  padding: 20px; /* optional spacing */
}




.student-create-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  background-color: #25ab85;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  font-family: 'Arial', sans-serif;
}

h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #50312c;
}

.form-section {
  margin-bottom: 25px;
}

.form-section h3 {
  margin-bottom: 15px;
  color: #5e343b;
  font-size: 1.1rem;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.95rem;
  box-sizing: border-box;
}

input[type="checkbox"] {
  margin-right: 8px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  font-size: 0.95rem;
  color: #2c3e50;
}

.btn-submit {
  width: 100%;
  padding: 12px 0;
  background-color: #3498db;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s all;
}

.btn-submit:hover {
  background-color: #2980b9;
}
